/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: lightgray; /* Change background color to white */
  color: #333;
}

/* Navigation bar */
nav {
  background-color: rgba(255, 20, 147, 0.8); /* Use a transparent pink color */
  color: #fff;
  margin: 0 auto; /* Center the nav horizontally */
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px; /* Limit the maximum width of the container */
  margin: 0 auto; /* Center the container horizontally */
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  font-family: 'Sacramento', cursive;
  font-size: 25px;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

nav ul li a:hover {
  background-color: rgba(0, 86, 179, 0.8); /* Darker pink on hover */
}

/* Change font of h1 in nav */
nav h1 {
  font-family: 'Sacramento', cursive; /* Use Sacramento font */
  font-size: 90px; /* Adjust font size as needed */
}



/* Hero Section styles */
.hero {
  background-color: rgba(255, 105, 180, 0.5); 
  color: #fff;
  padding: 50px 0;
  margin: 0 auto;
  max-width: 95%;
  border: 2px solid black;
  border-radius: 10px; 
  margin-bottom: 20px;
  margin-top: 20px;
}

.hero .container {
  text-align: center;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero h2 {
  font-style: italic;
}

.hero p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 40px;
  margin: 0 auto;
  max-width: 80%;
}



/* Footer */
footer {
  background-color: rgba(255, 20, 147, 0.8); /* Use a transparent black color */
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

/* Search Section styles */
.search {
  background-color: whitesmoke;
  padding: 50px 20px; /* Adjust padding to create space between the content and the border */
  margin: 0 auto; 
  max-width: 800px; 
  border: 2px solid black; /* Add border around the section */
  border-radius: 10px; /* Add border radius for rounded corners */
  margin-bottom: 20px;
}

.search .container {
  text-align: center;
}

.search h2 {
  margin-bottom: 20px;
}

.search form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.search label {
  font-weight: bold;
}

.search input[type="number"],
.search input[type="date"],
.search button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search button:hover {
  background-color: #0056b3;
}

/* Testimonials Section styles */
.testimonials {
  background-color: rgba(255, 105, 180, 0.5);
  color: #fff;
  padding: 50px 0; /* Adjust padding for spacing */
  margin: 0 auto; /* Center the section horizontally */
  max-width: 95%; /* Limit the maximum width of the section */
  border: 2px solid black; /* Add border around the section */
  border-radius: 10px; /* Add border radius for rounded corners */
  margin-bottom: 20px;
}

.testimonials .container {
  text-align: center;
}

.testimonials h2 {
  margin-bottom: 20px;
}

.testimonials .testimonial-container {
  display: inline-block; /* Display containers inline */
  width: calc(33.33% - 20px); /* Set fixed width for each testimonial container */
  margin-right: 20px; /* Add margin between testimonial containers */
  vertical-align: top; /* Align containers to the top */
}

.testimonials p {
  font-style: italic;
  font-size: 1.1em; /* Increase font size for better readability */
  line-height: 1.5; /* Increase line height for better spacing */
  background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
  padding: 20px; /* Add padding for spacing */
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 10px; /* Add border radius for rounded corners */
  max-width: 90%; /* Remove the calc function and set max-width to 100% */
  overflow-wrap: break-word; /* Allow words to break and wrap */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Contact form styles */
#contactForm {
  background-color: #fff;
  border: 2px solid #ccc; /* Add border */
  border-radius: 10px; /* Add border radius for rounded corners */
  padding: 20px; /* Add padding */
  max-width: 500px; /* Limit maximum width of the form */
  margin: 0 auto; /* Center the form horizontally */
  margin-bottom: 40px;
}

#contactForm label {
  display: block;
  margin-bottom: 10px;
}

#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#contactForm textarea {
  height: 150px; /* Set height for textarea */
}

#contactForm button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#contactForm button[type="submit"]:hover {
  background-color: #0056b3;
}


.container {
  text-align: center; /* Center align all content within the container */
}

.container h1 {
  font-size: 40px;
}

.container h2 {
  font-size: 24px; /* Adjust font size for h2 */
  margin-bottom: 20px; /* Add margin bottom for spacing */
}

.container p {
  font-size: 18px; /* Adjust font size for p */
  margin-bottom: 40px; /* Add margin bottom for spacing */
}

.about {
  background-color: rgba(255, 105, 180, 0.5);
  padding: 50px 20px; /* Adjust padding for spacing */
  margin: 0 auto; /* Center the section horizontally */
  max-width: 90%; /* Limit the maximum width of the section */
  border: 2px solid black; /* Add border around the section */
  border-radius: 10px; /* Add border radius for rounded corners */
  margin-bottom: 20px;
  margin-top: 20px;
}

.about p {
  font-size: 18px; /* Increase font size for better readability */
  line-height: 1.8; /* Increase line height for better spacing */
}


.features {
 
  padding: 50px 20px; /* Adjust padding for spacing */
  margin: 0 auto; /* Center the section horizontally */
  max-width: 90%; /* Limit the maximum width of the section */

  margin-bottom: 20px;
  margin-top: 20px;
}

.features h1 {
  font-size: 36px; /* Adjust font size as needed */
  text-align: center; /* Center align the heading */
  margin-bottom: 30px; /* Add some bottom margin for spacing */
}

.features ul {
  list-style-type: none; /* Remove default list styles */
  padding: 0; /* Remove default padding */
}

.features li {
  margin-bottom: 20px; /* Add some bottom margin for spacing between list items */
}

.features li::before {
  content: "\2022"; /* Add bullet point before each list item */
  color: rgba(255, 20, 147, 0.8); /* Change bullet point color */
  font-size: 20px; /* Adjust bullet point size */
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}


